<div class='col-2 menu-position '>
    <div class=''>
        <ul class='p-0 flex-column'>
            <li class="box-list">
                     @Html.ActionLink("List", "Index", "Blogs")
            </li>
            <li class="box-list">
                     @Html.ActionLink("Edit", "About", "Home")
            </li>
            <li class="box-list">
                    @Html.ActionLink("Search", "Contact", "Home")
            </li>
        </ul>
    </div>
</div>
